@page
@model CardOrg.Pages.Admin.ListModel
@{
}
<h3>Cards</h3>
<table id="myTable" class="table" cellspacing="0">
    <thead>
        <tr>
            <th>
                Front Card
            </th>
            <th>
                Name
            </th>
            <th>
                Description
            </th>
            <th>
                Edit
            </th>
            <th>
                Delete
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.CardViewModels)
        {
        <tr>
            <td>
                <img src="/uploads/@item.FrontCardThumbnailImagePath?stamp=11-7-2021-941" />
            </td>
            <td>
                @string.Join(", ", item.Players.Select(x => x.FullName))
            </td>
            <td>
                @item.CardDescription
            </td>
            <td>
                <a class="btnEdit" asp-route-cardId="@item.CardId">Edit</a>
            </td>
            <td>
                <form method="post">
                    <button class="btnDelete" asp-page-handler="Delete" type="submit" name="delete" asp-route-cardId="@item.CardId" onclick="return confirm('Are you sure you want to delete?')">Delete</button>
                </form>
            </td>
        </tr>
        }
    </tbody>
</table>
<form class="form-horizontal m-1 p-1" method="post" enctype="multipart/form-data">
    <h3>@ViewData["Success"]</h3>
    <div class="form-group">
        <label class="lblForm" asp-for="CardViewModel.PlayerIds"></label>
        <div>
            <div class="divButtons" style="padding-bottom:5px;">
                <a class="btnAdd" asp-page="/Admin/Players/List">Add Player</a>
            </div>
            <table id="playerTable" class="table" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            Name
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.PlayerViewModels)
                    {
                        <tr>
                            <td>
                                <input type="checkbox" value="@item.PlayerId" class="chkPlayerId" /> @item.FullName
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <span asp-validation-for="CardViewModel.PlayerIds" class="text-danger"></span>
            <input type="hidden" asp-for="CardViewModel.PlayerIds" id="hdnPlayerIds" />
        </div>
    </div>
    <div class="form-group">
        <label class="lblForm" asp-for="CardViewModel.TeamIds"></label>
        <div>
            <div class="divButtons" style="padding-bottom:5px;">
                <a class="btnAdd" asp-page="/Admin/Players/List">Add Team</a>
            </div>
            <table id="teamTable" class="table" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            Name
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.TeamViewModels)
                    {
                        <tr>
                            <td>
                                <input type="checkbox" value="@item.TeamId" class="chkTeamId" /> @item.Team
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <span asp-validation-for="CardViewModel.TeamIds" class="text-danger"></span>
            <input type="hidden" asp-for="CardViewModel.TeamIds" id="hdnTeamIds" />
        </div>
    </div>
    <div class="form-group">
        <label class="lblForm" asp-for="CardViewModel.SetId"></label>
        <div>
            <select class="ddlForm" style="width: 50%" asp-for="CardViewModel.SetId">
                <option value="">Select an option</option>
                @foreach (var item in Model.SetViewModels)
                {
                    <option value="@item.SetId">@item.Name</option>
                }
            </select> <a class="btnAdd" asp-page="/Admin/Sets/List">Add Set</a>
            <span asp-validation-for="CardViewModel.SetId" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label class="lblForm" asp-for="CardViewModel.SportId"></label>
        <div>
            <select class="ddlForm" style="width: 50%" asp-for="CardViewModel.SportId">
                <option value="">Select an option</option>
                @foreach (var item in Model.SportViewModels)
                {
                    <option value="@item.SportId">@item.Name</option>
                }
            </select> <a class="btnAdd" asp-page="/Admin/Sports/List">Add Sport</a>
            <span asp-validation-for="CardViewModel.SportId" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label class="lblForm" asp-for="CardViewModel.YearId"></label>
        <div>
            <select class="ddlForm" style="width: 50%" asp-for="CardViewModel.YearId">
                <option value="">Select an option</option>
                @foreach (var item in Model.YearViewModels)
                {
                    <option value="@item.YearId">@item.Year</option>
                }
            </select> <a class="btnAdd" asp-page="/Admin/Sports/List">Add Year</a>
            <span asp-validation-for="CardViewModel.YearId" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label class="lblForm" asp-for="CardViewModel.GradeCompanyId"></label>
        <div>
            <select class="ddlForm" style="width: 50%" asp-for="CardViewModel.GradeCompanyId">
                <option value="0">Select an option</option>
                @foreach (var item in Model.GradeCompanyViewModels)
                {
                    <option value="@item.GradeCompanyId">@item.Name</option>
                }
            </select> <a class="btnAdd" asp-page="/Admin/GradeCompanies/List">Add Grade Company</a>
            <span asp-validation-for="CardViewModel.GradeCompanyId" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label class="lblForm" asp-for="CardViewModel.LocationId"></label>
        <div>
            <select class="ddlForm" style="width: 50%" asp-for="CardViewModel.LocationId">
                <option value="0">Select an option</option>
                @foreach (var item in Model.LocationViewModels)
                {
                    <option value="@item.LocationId">@item.Name</option>
                }
            </select> <a class="btnAdd" asp-page="/Admin/Locations/List">Add Location</a>
            <span asp-validation-for="CardViewModel.LocationId" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label class="lblForm" asp-for="CardViewModel.CardDescription"></label>
        <div>
            @Html.EditorFor(model => model.CardViewModel.CardDescription)
            <span asp-validation-for="CardViewModel.CardDescription" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label class="lblForm" asp-for="CardViewModel.CardNumber"></label>
        <div>
            @Html.EditorFor(model => model.CardViewModel.CardNumber)
            <span asp-validation-for="CardViewModel.CardNumber" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label class="lblForm" asp-for="CardViewModel.LowestBeckettPrice"></label>
        <div>
            @Html.EditorFor(model => model.CardViewModel.LowestBeckettPrice)
            <span asp-validation-for="CardViewModel.LowestBeckettPrice" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label class="lblForm" asp-for="CardViewModel.HighestBeckettPrice"></label>
        <div>
            @Html.EditorFor(model => model.CardViewModel.HighestBeckettPrice)
            <span asp-validation-for="CardViewModel.HighestBeckettPrice" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label class="lblForm" asp-for="CardViewModel.FrontUpload"></label>
        <div>
            @Html.EditorFor(model => model.CardViewModel.FrontUpload)
            <span asp-validation-for="CardViewModel.FrontUpload" class="text-danger"></span>
            <input type="hidden" asp-for="CardViewModel.FrontCardMainImagePath" id="hdnFrontCardMainImagePath" />
            <input type="hidden" asp-for="CardViewModel.FrontCardThumbnailImagePath" id="hdnFrontCardThumbnailImagePath" />
        </div>
    </div>
    <div class="form-group">
        <label class="lblForm" asp-for="CardViewModel.BackUpload"></label>
        <div>
            @Html.EditorFor(model => model.CardViewModel.BackUpload)
            <span asp-validation-for="CardViewModel.BackUpload" class="text-danger"></span>
            <input type="hidden" asp-for="CardViewModel.BackCardMainImagePath" id="hdnBackCardMainImagePath" />
            <input type="hidden" asp-for="CardViewModel.BackCardThumbnailImagePath" id="hdnBackCardThumbnailImagePath" />
        </div>
    </div>
    <div class="form-group">
        <label class="lblForm" asp-for="CardViewModel.LowestCOMCPrice"></label>
        <div>
            @Html.EditorFor(model => model.CardViewModel.LowestCOMCPrice)
            <span asp-validation-for="CardViewModel.LowestCOMCPrice" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label class="lblForm" asp-for="CardViewModel.EbayPrice"></label>
        <div>
            @Html.EditorFor(model => model.CardViewModel.EbayPrice)
            <span asp-validation-for="CardViewModel.EbayPrice" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label class="lblForm" asp-for="CardViewModel.PricePaid"></label>
        <div>
            @Html.EditorFor(model => model.CardViewModel.PricePaid)
            <span asp-validation-for="CardViewModel.PricePaid" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label class="lblForm" asp-for="CardViewModel.IsGraded"></label>
        <div>
            @Html.EditorFor(model => model.CardViewModel.IsGraded)
            <span asp-validation-for="CardViewModel.IsGraded" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label class="lblForm" asp-for="CardViewModel.Copies"></label>
        <div>
            @Html.EditorFor(model => model.CardViewModel.Copies)
            <span asp-validation-for="CardViewModel.Copies" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label class="lblForm" asp-for="CardViewModel.SerialNumber"></label>
        <div>
            @Html.EditorFor(model => model.CardViewModel.SerialNumber)
            <span asp-validation-for="CardViewModel.SerialNumber" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label class="lblForm" asp-for="CardViewModel.Grade"></label>
        <div>
            @Html.EditorFor(model => model.CardViewModel.Grade)
            <span asp-validation-for="CardViewModel.Grade" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label class="lblForm" asp-for="CardViewModel.IsRookie"></label>
        <div>
            @Html.EditorFor(model => model.CardViewModel.IsRookie)
            <span asp-validation-for="CardViewModel.IsRookie" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label class="lblForm" asp-for="CardViewModel.IsAutograph"></label>
        <div>
            @Html.EditorFor(model => model.CardViewModel.IsAutograph)
            <span asp-validation-for="CardViewModel.IsAutograph" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label class="lblForm" asp-for="CardViewModel.IsPatch"></label>
        <div>
            @Html.EditorFor(model => model.CardViewModel.IsPatch)
            <span asp-validation-for="CardViewModel.IsPatch" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label class="lblForm" asp-for="CardViewModel.IsOnCardAutograph"></label>
        <div>
            @Html.EditorFor(model => model.CardViewModel.IsOnCardAutograph)
            <span asp-validation-for="CardViewModel.IsOnCardAutograph" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label class="lblForm" asp-for="CardViewModel.IsGameWornJersey"></label>
        <div>
            @Html.EditorFor(model => model.CardViewModel.IsGameWornJersey)
            <span asp-validation-for="CardViewModel.IsGameWornJersey" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <div style="padding-top:5px;">
            <input type="hidden" asp-for="CardViewModel.CardId" />
            <button type="submit" class="btnSave" asp-page-handler="Save">Save</button>
        </div>
    </div>
    @section scripts {
        <script>
            $('#playerTable').DataTable();

            var hdnPlayerIds = $('#hdnPlayerIds').val().split(',');
            if (hdnPlayerIds.length > 0) {
                for (var i = 0; i < hdnPlayerIds.length; i++) {
                    var id = hdnPlayerIds[i];
                    $('.chkPlayerId').each(function (index, val) {
                        if ($(val).val() == id) {
                            $(val).prop('checked', true);
                        }
                    });
                }
            }

            $('.chkPlayerId').on('change', function () {
                $('#hdnPlayerIds').val('');
                var playerIds = ''
                $('.chkPlayerId').each(function (index, val) {
                    if ($(val).is(':checked')) {
                        if (playerIds.length > 0) {
                            playerIds += ','
                        }
                        playerIds += $(val).val();
                    }
                });
                $('#hdnPlayerIds').val(playerIds);
            });

            $('#teamTable').DataTable();

            var hdnTeamIds = $('#hdnTeamIds').val().split(',');
            if (hdnTeamIds.length > 0) {
                for (var i = 0; i < hdnTeamIds.length; i++) {
                    var id = hdnTeamIds[i];
                    $('.chkTeamId').each(function (index, val) {
                        if ($(val).val() == id) {
                            $(val).prop('checked', true);
                        }
                    });
                }
            }
            $('.chkTeamId').on('change', function () {
                $('#hdnTeamIds').val('');
                var playerIds = ''
                $('.chkTeamId').each(function (index, val) {
                    if ($(val).is(':checked')) {
                        if (playerIds.length > 0) {
                            playerIds += ','
                        }
                        playerIds += $(val).val();
                    }
                });
                $('#hdnTeamIds').val(playerIds);
            });

            $('.btnAdd').button({
                icon: "ui-icon-plus"
            });

            $('.ddlForm').select2({
                width: 'resolve',
                placeholder: "Select an option"
            });

            $('input[type="file"]').button();
        </script>
    }
</form>
