@page
@model CardOrg.Pages.Admin.Players.ListModel
@{
}
<h3>Players</h3>
<table id="myTable" class="table" cellspacing="0">
    <thead>
        <tr>
            <th>
                First Name
            </th>
            <th>
                Last Name
            </th>
            <th>
                Edit
            </th>
            <th>
                Delete
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.PlayerViewModels)
        {
        <tr>
            <td>
                @item.FirstName
            </td>
            <td>
                @item.LastName
            </td>
            <td>
                <a class="btnEdit" asp-route-playerId="@item.PlayerId">Edit</a>
            </td>
            <td>
                <form method="post">
                    <button class="btnDelete" asp-page-handler="Delete" type="submit" name="delete" asp-route-playerId="@item.PlayerId" onclick="return confirm('Are you sure you want to delete?')">Delete</button>
                </form>
            </td>
        </tr>
        }
    </tbody>
</table>

<form class="form-horizontal m-1 p-1" method="post" enctype="multipart/form-data">
    <h3>@ViewData["Success"]</h3>
    <div class="form-group">
        <label class="lblForm" asp-for="PlayerViewModel.FirstName"></label>
        <div>
            @Html.EditorFor(model => model.PlayerViewModel.FirstName)
            <span asp-validation-for="PlayerViewModel.FirstName" class="text-danger"></span>
            <input type="hidden" asp-for="PlayerViewModel.PlayerId" />
        </div>
    </div>
    <div class="form-group">
        <label class="lblForm" asp-for="PlayerViewModel.LastName"></label>
        <div>
            @Html.EditorFor(model => model.PlayerViewModel.LastName)
            <span asp-validation-for="PlayerViewModel.LastName" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <div style="padding-top:5px;">
            <button type="submit" class="btnSave" asp-page-handler="Save">Save</button>
        </div>
    </div>
</form>