@page
@model CardOrg.Pages.Landing.IndexModel
@{
}
<form method="post">
    Cards:
    <table id="myTable" class="table" cellspacing="0">
        <thead>
            <tr>
                <th>
                    Image
                </th>
                <th>
                    Details
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.CardEntities)
            {
                <tr>
                    <td>
                        <a href="javascript: void(0);" onclick="showModal('divMainImg' + @item.CardId);"><img src="/uploads/@item.FrontCardThumbnailImagePath?stamp=11-7-2021-951" class="thumb" id="@string.Format("thumbImg" + item.CardId)" /></a>
                        <div class="dialog" title="Front" id="@string.Format("divMainImg" + item.CardId)">
                            <img src="/uploads/@item.FrontCardMainImagePath?stamp=11-7-2021-951" class="mainImg"  style="width:80%" />
                        </div>
                    </td>
                    <td>
                        <table id="tblCardDetails" class="table" cellspacing="0">
                            <thead>
                                <tr>
                                    <td>
                                        
                                    </td>
                                    <td>
                                      
                                    </td>
                                    <td>
                                       
                                    </td>
                                    <td>
                                        
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Low Beckett: @string.Format("{0:C}", item.LowestBeckettPrice)
                                    </td>
                                    <td>
                                        High Beckett: @string.Format("{0:C}", item.HighestBeckettPrice)
                                    </td>
                                    <td>
                                        @item.CardNumber
                                    </td>
                                    <td>
                                    </td>
                                </tr>
                            </thead>
                        </table>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    @section scripts {
        <script>
            $('.dialog').dialog({
                autoOpen: false,
                modal: true
            });
            function showModal(id) {
                if ($('#' + id).find('.mainImg').attr('src').indexOf('/uploads/card-avatar.jpg') == -1) {
                    $('#' + id).dialog('open');
                }              
            }
        </script>
    }
</form>
